@charset "UTF-8";

body{font-size: 17px;}


/* table mobile
/* ------------------------- */

table tr {
    display: flex;
    flex-wrap: wrap;
}

th, td {
    width: 100%;
    display: block;
}

thead {
    border: none !important;
}

/*Data-Label*/
table.Dlabel tbody tr th {
    border-top: 0 !important; /*border-radius: 16px 16px 0 0;*/
}

table.Dlabel td:before {
    content: attr(data-label);
    float: left;
    padding-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

table.Dlabel td.list:before {
    content: attr(data-label);  font-weight: bold;  text-transform: uppercase; display: block; margin-bottom: 5px; text-align: left; width: 100%;
}

table.Dlabel td {
    text-align: right !important;
}

table.Dlabel td.th {
    text-align: center !important;
    background: rgba(0, 0, 0, 0.03);
    font-weight: bold;
}

table.Dlabel td.al {
    text-align: left !important;
}

table.Dlabel td.al p {
}


table.Dlabel > tbody > tr:last-child {
    margin-bottom: 0px;
}

/*Data-Label2*/
table.Dlabel2 tbody tr th {border-top: 0 !important; /*border-radius: 16px 16px 0 0;*/}
table.Dlabel2 td:before { content: attr(data-label);  font-weight: bold;  text-transform: uppercase; display: block; margin-bottom: 5px;}
table.Dlabel2 td { text-align: left !important;}
table.Dlabel2 td.th { text-align: center !important; background: rgba(0, 0, 0, 0.03); font-weight: bold;}
table.Dlabel2 td.al { text-align: left !important; border-top: solid 1px #eee; border-bottom: solid 1px #eee;}
table.Dlabel2 td.al:before { display: block; width: 100%; line-height: 30px;}
table.Dlabel2 td.al p { display: block; width: 100%;  line-height: 30px;}

/* Hide table headers (but not display: none;, for accessibility) */
table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* btn
/* ------------------------- */
.btn-m-block-mid {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 5px;
    margin-left: 0;
    margin-bottom: 5px;
}


/* header-menu
/* ------------------------- */

.mobile-header{ background-color: #fff; height: 70px; border-bottom: 2px solid #eeeeee;}
.mobile-header a{font-size: 25px; line-height: 40px;}

.header-mobile__logo {
    text-align: center;
    position: absolute;
    z-index: 3;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 5px;
}

.header-mobile__logo-img {
    margin-top: 10px;
    height: auto;
}

/*반응형 메뉴*/
.nav{ position: fixed; left:-120%;overflow: auto; top: 0; z-index: 101; transition: left 0.7s; padding: 10px 0; width:calc(100% - 60px); height: 100%; background: #fff; box-sizing: border-box;}

.nav h2{color: #fff; font-size: 20px;}

.nav.on { left: 0; }
.nav.on .close { position: absolute; right: 24px; top: 16px; width: 16px; height: 16px; opacity: 0.5;}
.nav.on .close:before { content: ""; position: absolute; left:46%; top: 0; width: 2px; height: 100%; background: #5a5a5a; transform: rotate(45deg);}
.nav.on .close:after { content: ""; position: absolute; right:45%; top: 0; width: 2px; height: 100%; background: #5a5a5a; transform: rotate(-45deg);}

.main-nav { padding: 0 0 24px; border-top: 3px solid #eee;}

.main-nav .main-nav-list{    height: auto; overflow-y: auto; display: block;}
.main-nav .main-nav-list > li {
    width: 100%;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    position: relative;
    white-space: inherit;}


.main-nav .main-nav-list > li > a{
    display: block;
    font-weight: 400;
    font-size: 20px;
    padding: 16px 30px;
    text-align: left;
    border-right: solid 0px;
    background-color: transparent;
    color: #333;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
    position: static;
}


.main-nav .main-nav-list > li > a:focus{
    color: #ea002c;
}

main-nav .main-nav-list > li > a::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    color: #ea002c;
    opacity: 0;
    width: 4px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateY(0%);
}

.main-nav-list .main-nav-list-sub{background: rgba(0, 0, 0, 0.03); position: relative; top: 0; padding: 15px 0; border: none;}

.main-nav .main-nav-list  li .main-nav-list-sub{display: none;}

.main-nav .main-nav-list .main-nav-list-sub > ul, .main-nav-list .main-nav-list-sub .main-nav-ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-nav-list .main-nav-list-sub .main-nav-ul li { padding: 10px 30px; margin: 0; line-height: 27px;}


.site-overlay {
    left: 0;
    top: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.4s linear;
    transition: visibility 0s, opacity 0.4s linear;
}

.dim {cursor: pointer; display: none;position: fixed; left: 0; top: 0; z-index: 100; width: 100%; height: 100%; background: rgba(0,0,0,0.5);  -webkit-transition: visibility 0s, opacity 0.4s linear;
    transition: visibility 0s, opacity 0.4s linear;}


/* Mobile click to drop arrow */
.main-nav__toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 10px;
    display: block;
    cursor: pointer;
    z-index: 1;
    background-image: url("../images/mobile-arrow.png");
    background-size: 12px 8px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-nav__toggle--rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.main-nav .header-mobile__logo {
    top: 0;
}

.header-mobile__logo-img {

    margin-top: 10px;
    height: auto;
}





/* Header Mobile Burger Icon */
.burger-menu-icon {
    z-index: 10;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: block;
    position: absolute;
    top: 27px;
    left: 30px;
    cursor: pointer;
    width: 26px;
    height: 19px;
}

.burger-menu-icon__line,
.burger-menu-icon__line::before,
.burger-menu-icon__line::after {
    content: '';
    cursor: pointer;
    height: 3px;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    display: block;
    border-radius: 1px;
}

.burger-menu-icon__line::before {
    top: 8px;
}

.burger-menu-icon__line::after {
    top: 16px;
}






#sidebar{display: none;}







/*mobile-menu*/

.site-wrapper--has-overlay .main-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.main-nav .main-nav-list > li.has-children > a::after {
    display: none;
}

.main-nav-list .main-nav-sub li.has-children > a::after {
    display: none;
}

.main-nav .main-nav-list li.has-children > a::after {
    -webkit-transform: none;
    transform: none;
    top: 13px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
}



.mobile-hide{display: none;}


/*main-ban & icon*/

.Main-ban{
    background-image: url("../images/Main_ban.jpg");
   /* background: linear-gradient(to right, #333, #666);*/
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    text-align: center;
    position: relative;
}
.Main-tit{color: #fff; font-size: 23px; line-height: 40px; font-weight: bold; padding-top: 60px;}
.Main-ban .txt1{display: none;}

.main-icon .bt-2-r{border-top: 0;}


.dropup, .dropdown { float: right; top: 15px;}
.dropdown-menu{right: 0; left: auto; }
.dropdown-menu > li > a{font-size: 17px; text-align: center;}

.overlap{position: relative; z-index: 2; margin-top: -50px;}


/*Micon*/
.Micon{ display: block; padding: 40px; color: #ea002c; border-radius: 0px; text-align: center; background: #fff; margin: 2px;
    -webkit-box-shadow: 0 10px 25px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);}
span.Mi-tit{font-size: 15px; font-weight: bold;}

@media (max-width: 360px){
    .Micon{padding: 25px 10px;}
    .Micon:hover span.Mi-tit {font-weight: bold;}
    .main-icon .col-lg-2:nth-child(odd)::after{height: 50px;}
}

.Micon:hover,  Micon:focus{background: #ea002c; border-radius: 4px; color: #fff;}
.Micon:hover, Micon:focus span {color: #fff; }

.Micon .wrap-icon { display: block; font-size: 40px;margin-bottom: 10px;  }

.Micon-1{ }
.Micon-1:before{ content: '\e816'; font-family: "diyfont"; color: #ea002c; }
.Micon:hover .Micon-1:before, .Micon:hover .Micon-2:before,
.Micon:hover .Micon-3:before, .Micon:hover .Micon-4:before,
.Micon:hover .Micon-5:before, .Micon:hover .Micon-6:before{ color: #fff;}



.Micon-2:before{ content: '\e815'; font-family: "diyfont"; color: #ea002c; }
.Micon-3:before{ content: '\e811'; font-family: "diyfont"; color: #ea002c; }
.Micon-4:before{ content: '\e812'; font-family: "diyfont"; color: #ea002c; }
.Micon-5:before{ content: '\e806'; font-family: "diyfont"; color: #ea002c; }
.Micon-6:before{ content: '\e813'; font-family: "diyfont"; color: #ea002c; }



.ellipsis-3{display: inline-block; width: 150px; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;  margin: 0;}

/*document&notice*/
.text-title{ font-size: 17px; font-weight: 800; letter-spacing: -0.1rem;}

.pt-5-m {padding-top: 3rem !important;}
.pt-2-m {padding-top: 2rem !important;}

.box2 h5{font-size: 25px; line-height: 35px;}

.d-block-m{display: block !important;}

/*notice*/
.nt-title {font-weight: bold;}
a:hover .nt-title:before, a:focus .nt-title:before{color: #ea002c;}




/*--------footer----------*/


.footer .info-block__heading,
.footer .info-block__link  {
    color:#fff;
    font-weight: normal;
}
.footer a, .footer p {color:#ccc; line-height: 30px;}
.footer a:hover, .footer a:focus { color:#fff; text-decoration: underline;}
/* Footer Widgets */
.footer-widgets {
    background: rgb(51,51,51);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.footer-widgets [class^="col-"]:last-child .widget--footer {
    margin-bottom: 0;
}

.footer-widgets__inner {
    padding: 30px 0;
}

@media (min-width: 768px) {
    .footer-widgets__inner {
        padding: 60px 0 70px;
    }
}

@media (min-width: 992px) {
    .footer-widgets__inner {
        padding: 40px 0;
    }
}


.footer-col-inner {
    padding: 0 7px;
}

/* Footer Logo */
.footer-logo { width: 100%; margin: 0 0 15px 0;}

.footer-logo__img { max-width: 100%; height: auto;}


/* Footer Secondary */
.footer-secondary { background-color: #1e2024;}






.footer-secondary__inner {
    background-color: #1e2024;
    padding: 24px 0;
    position: relative;
    border-top: 0 solid transparent;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 25px;
    color: #aaa;
}







.footer a.back-to-top {
    bottom: 1vw;
    right: 1vw;
    width: 50px;
    height: 50px;
    line-height: 45px;
    z-index: 9999;
    margin: 10px;
}



/*relation_site 푸터 관련사이트*/

.footer-col-inner3 .relation_site{
    margin-top: 5px; display: inline-table;
}
.footer-col-inner .relation_site{width: 100%; }

.relation_site{ float: left; width: 100%;  position: relative; }
.relation_site .tit_relation {  display: block; width: 160px;}
.relation_site .tit_relation {  width: 100%;}


.relation_site .tit_relation i{ float: right; margin-top: 7px;}
.relation_site .link_tit{ display: block; height: 29px; border-bottom: 2px solid #666; font-weight: normal; font-size: 16px; line-height: 30px; color: #aeaeae; text-decoration: none;}


.relation_site .list_relation { position: relative; float: left; top: 0; left: 0;  height: 110px;  width: 100%;
    display: none;
    padding: 11px 0;
    border: 1px solid #d4d4d4;
    background-color: #333;
    z-index: 9;
}


.relation_site .list_relation li, .relation_site .list_relation_SK li{padding: 5px 0 5px 10px; font-size: 16px;}

.relation_site .list_relation_SK {
    display: none;
    position: relative; float: left; top: 0; left: 0;
    width: 400px;
    padding: 11px 0;
    border: 1px solid #d4d4d4;
    background-color: #333;

}


.site_close { position: absolute; right: 10px; top: 10px; width: 16px; height: 16px; opacity: 0.5;}
.site_close:before { content: ""; position: absolute; left:46%; top: 0; width: 2px; height: 100%; background: #ccc; transform: rotate(45deg);}
.site_close:after { content: ""; position: absolute; right:45%; top: 0; width: 2px; height: 100%; background: #ccc; transform: rotate(-45deg);}

.ellipsis{ display: inline-block; width: 250px; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;  margin: 0;}



/*sub page*/
.sub-ban{height: 100%; background-image: url("../images/sub_ban.jpg");  background-position: 50% 50%;}

/*news_board*/
.m-date{font-size: 14px; color: #999;}



/*history*/

.company_history .s-title{font-size: 20px; margin-bottom: 50px;}

.company_history_cnt>ul {
    padding-bottom: 100px;
    margin-bottom: 0;
}
.company_history_cnt>ul:before {
    left: 0;
}
.company_history_cnt>ul>li:after {
    width: 100%;
    font-size: 120px;
}

.company_history_cnt>ul>li.active, .company_history_cnt>ul>li:nth-child(even){
    padding: 0;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    display: block;
}

.company_history_cnt>ul>li:nth-child(odd)>div>h2:after, .company_history_cnt>ul>li:nth-child(even)>div>h2:after{right: auto; left: -35px;position: relative;  top: -18px; }

.company_history_cnt>ul>li:nth-child(odd)>div>h2:before,.company_history_cnt>ul>li:nth-child(even)>div>h2:before {display: none;}


.company_history .company_history_cnt .tit_txt{position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
.company_history .history_box2 .tit_txt {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}


/*mobile-padding & mobile-margin*/
.m-pt-3{padding-top: 3rem;}
.m-pt-5{padding-top: 4rem;}
.m-mt-5{margin-top: 4rem;}


/*mobile-layout*/
.m-layout .bl-1-6 {border-left: 0;}
.box-rd{padding: 20px;}

/*recruit*/
.recruit05_bg{height: auto; background-position: 50% 50%;  background-size: 260%;}
.recruit06_bg{ height: auto; background-position: 80% 50%;  background-size: 260%;
}


/*sitemap*/
#sitemap_nav > .inner > ul > li > a { display: block; font-size: 20px; padding-top: 10px; font-weight: bold; margin-top: 20px; padding-left: 20px;}
#sitemap_nav .subm { margin-top: 10px; padding-left: 20px;}
#sitemap_nav > .inner > ul > li.bg2 { background: #f1f1f1; padding-bottom: 10px;}

#circle1 #circle2, .center{margin-left: 55%;}