@font-face {
    font-family: 'notokr';
    src: url('notokr-thin.eot');
    src: url('notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('notokr-thin.woff2') format('woff2'),
         url('notokr-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff2') format('woff2'),
         url('notokr-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('notokr-bold.eot');
    src: url('notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('notokr-bold.woff2') format('woff2'),
         url('notokr-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('notokr-black.eot');
    src: url('notokr-black.eot?#iefix') format('embedded-opentype'),
         url('notokr-black.woff2') format('woff2'),
         url('notokr-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}